

<div class="container">
<h1>Stupid Coach</h1>

<div class="message">
<p> <%= @question %></p>
<p> <i>- You</i> </p>
</div>

<div class="message" id="background-light-yellow">
<p> <%= @answer %></p>
<p> <i>- Stupid Coach</i> </p>
</div>

<%= link_to "Back to questions!", ask_path %>
</div>
